amqp==5.0.2
asgiref==3.2.10
billiard==3.6.3.0
celery==5.0.2
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
Django==3.1.1
django-appconf==1.0.4
django-celery-email==3.0.0
django-cors-headers==3.5.0
djangorestframework==3.11.1
gunicorn==20.0.4
kombu==5.0.2
mysqlclient==2.0.1
prompt-toolkit==3.0.8
pytz==2020.1
redis==3.5.3
six==1.15.0
sqlparse==0.3.1
vine==5.0.0
wcwidth==0.2.5
